@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    background-color: rgb(49, 12, 87);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.pw-header {
    background-color: rgb(49, 12, 87);
    padding: 1rem;
}

.pw {
    background-color: rgb(90, 30, 150);
    font-size: 2rem;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
}

.pw button {
    background-color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
